@import "../../styles/abstracts/variables.css";

.core-layout {
  height: 100%;
  position: relative;
}

.side-nav {
  width: var(--side-bar-width);
  height: 100%;
  float: left;
  overflow: hidden;
  border-right: var(--default-border);
}

.side-nav :global .ant-menu-inline,
.side-nav :global .ant-menu-vertical {
  border-right: 0
}

.side-nav__inner {
  width: var(--side-bar-inner-width);
  height: 100%;
  overflow: auto;
}

.viewport {
  padding: 0 20px;
  height: calc(100% - var(--header-height));
  /*奇迹：overflow会使viewport的宽度去掉左侧的side-nav的宽度*/
  overflow: auto;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--side-bar-width);
  z-index: 10;
  background-color: #FFFFFF;
  border-bottom: var(--default-border);
  /*border-right: default-border;*/
}

.settings {
  overflow: auto;
  border-bottom: var(--default-border);
}
